files:
  "/tmp/cronjob" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      # run daily report, GMT-7 so 1400 == 0700
      # 0 * * * * source /opt/python/run/venv/bin/activate && /opt/python/current/app/manage.py command_goes_here
    encoding: plain
container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_loadcron:
    command: crontab /tmp/cronjob
    leader_only: true
